.btn-primary {
  background-color: #fa9646;
  color: white;
  padding: 15;
  border-radius: 2;
}

.btn-secondary {
  background-color: #96c850;
  color: white;
  padding: 15;
  border-radius: 2;
}

.btn-tertiary {
  background-color: #5082be;
  color: white;
  padding: 15;
  border-radius: 2;
}