@import "./colors.scss";

.primary {
  color: $primary-color;

  &-border {
    border-color: $primary-color;
  }
}

.secondary {
  color: $secondary-color;

  &-border {
    border-color: $secondary-color;
  }
}

.tertiary {
  color: $tertiary-color;

  &-border {
    border-color: $tertiary-color;
  }
}

