# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/app/**/*.js
/app/**/*.css
/platforms/android
/platforms/ios

# dependencies
/node_modules

# Package Lock
package-lock.json

# IDEs and editors
.idea
.project

#System Files
.DS_Store
Thumbs.db