<ActionBar class="action-bar">

    <!-- FOR Slider Menu -->
    <NavigationButton
        ios:visibility="collapsed"
        icon="res://menu"
        (tap)="onDrawerButtonTap()"
        *ngIf=showSlider
    ></NavigationButton>
    <ActionItem
        icon="res://navigation/menu"
        android:visibility="collapsed"
        ios.position="left"
        (tap)="onDrawerButtonTap()"
        *ngIf = showSlider
    ></ActionItem>

    <!-- FOR BACK BUTTON -->
    <NavigationButton
        android.systemIcon="ic_menu_back"
        text="Go Back"
        (tap)="goBack()"
        *ngIf="showBack"
    ></NavigationButton>

    <!-- TITTLE -->
    <Label class="action-bar-title" text="travelode"></Label>

</ActionBar>
