<ActionBar class="action-bar">
    <Label text="travelode" class="font-weight-bold primary"></Label>
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout orientation="vertical" class="container" *ngIf="travelode">
    <Label text="Your travelode is ready for new posts" class="post-start-heading tertiary text-center" textWrap="true"></Label>
    <Label [text]=travelode.title class="post-start-travelode-heading"></Label>
    <Label [text]=travelode.description class="post-start-travelode-detail" textWrap="true"></Label>
    <Button text="Start posting" class="btn-secondary post-start-button" (tap)="startPosting()"></Button>
    <StackLayout orientation="horizontal" horizontalAlignment="center">
        <Label text="Change" class="post-start-change-travelode tertiary" (tap)="changeTravelode()"></Label>
        <Label text=" details of this travelode" class="post-start-change-travelode"></Label>
    </StackLayout>
</StackLayout>