.post-start-heading {
  font-size: 25;
  text-align: center;
  margin-bottom: 60;
}

.post-start-travelode-heading {
  font-size: 20;
  font-weight: 700;
  margin-bottom: 20;
}

.post-start-travelode-detail {
  font-size: 19;
  height: 300;
}

.post-start-button {
  margin-bottom: 20;
}

.post-start-change-travelode {
  font-size: 16;
}