.signup-logo {
  margin-top: 30;
  margin-bottom: 30;
  width: 200;
  height: 200;
}

.signup-form-input {
  border-width: 1;
  border-color: black;
  margin-bottom: 15;
}

.signup-button {
  margin-top: 30;
  margin-bottom: 30;
}

.signup-login-dialogue {
  font-size: 20;
}