@import '~nativescript-theme-core/scss/_light.scss';
@import url("./platform.scss");
@import url("shared/styles/fonts.scss");
@import url("./shared/styles/buttons.scss");
@import url("./shared/styles/container.scss");

.action-bar {
  font-size: 25;
}

.page {
  padding: 45;
}

.font-awesome {
  font-family: "FontAwesome";
}