<appMainActionBar
        *ngIf="!isSetting"
        [showBack]="canGoBack"
        [backNavigationDefault]="true"
></appMainActionBar>

<ScrollView>
    <StackLayout orientation="vertical" class="container-tight">
        <Label text="{{(isSetting) ? 'Set' : 'Switch'}} travelodes" class="travelode-switch-heading tertiary text-center" [class.travelode-switch-settop-pad]="isSetting"></Label>

        <StackLayout *ngIf="travelodeList" class="travelode-switch-items">
            <Label text="Click on the travelode you want to {{(isSetting) ? 'set as default' : 'switch to'}}:" class="travelode-switch-instruction" textWrap="true"></Label>

            <StackLayout *ngFor="let trY of travelodeList.travelodesByYear">
                <Label text="{{trY.year}}" class="travelode-switch-year"></Label>

                <StackLayout *ngFor="let trM of trY.travelodesByMonth">
                    <Label text="{{trM.monthName}}" class="travelode-switch-month"></Label>

                    <StackLayout *ngFor="let trD of trM.travelodesByDate">

                        <StackLayout *ngFor="let tr of trD.travelodes" orientation="horizontal" class="travelode-switch-day"
                                     [class.travelode-switch-selected]="isSelected(tr.id)">

                            <Label text="{{trD.day}}" class="travelode-switch-day-date"></Label>
                            <Label text="{{tr.title}}" class="travelode-switch-day-title" (tap)="itemTapped(tr)"></Label>

                            <Label *ngIf="isSelected(tr.id)" text="selected" class="travelode-switch-day-selected"></Label>

                        </StackLayout>

                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>

    </StackLayout>
</ScrollView>