@import "../../../shared/styles/colors.scss";

.travelode-switch {

  &-settop-pad {
    margin-top: 40;
  }

  &-heading {
    font-size: 25;
    text-align: center;
    margin-bottom: 20;
  }

  &-instruction {
    font-size: 15;
    margin-bottom: 20;
  }

  &-items {
    font-size: 15;
  }

  &-selected {
    background-color: $secondary-color;
    vertical-align: center;
    border-radius: 5;
  }

  &-year {
    font-weight: 700;
    color: $secondary-color;
    margin-top: 5;
  }

  &-month {
    margin-top: 15;
    margin-left: 10;
    margin-bottom: 5;
    font-weight: 700;
    color: $primary-color
  }

  &-day {
    padding: 10;
    font-weight: 300;

    &-date {
      margin-left: 15;
      margin-right: 35;
    }

    &-title {
      color: $tertiary-color;
      text-decoration: underline;
    }

    &-selected {
      text-align: right;
      width: 100%;
    }
  }
}