<ActionBar class="action-bar">
    <Label text="travelode" class="font-weight-bold primary"></Label>
</ActionBar>

<ScrollView orientation="vertical">
    <StackLayout orientation="vertical" *ngIf="localMedia">
        <Label *ngIf="!editing"text="Add description" class="post-details-heading tertiary text-center m-b-20" textWrap="true"></Label>
        <Label *ngIf="editing" text="Edit post" class="post-details-heading tertiary text-center m-b-20" textWrap="true"></Label>
        <Image class="post-details-media-holder" src="{{localMedia.url}}"></Image>
        <StackLayout orientation="vertical" class="container-tight">
            <TextField hint="Title*" autocorrect="false" autocapitalizationType="none" [(ngModel)]="localMedia.title"></TextField>
            <TextView  height="100" borderColor="#DEDEDE" borderWidth="1" hint="A short story of the post*"  returnKeyType="send" class="post-details-media-details" [(ngModel)]="localMedia.story"></TextView>
            <FlexboxLayout orientation="horizontal" class="post-details-buttons">
                <Button text="Cancel" class="btn-secondary post-details-buttons-button" (tap)="cancel()"></Button>
                <Button text="Post" class="btn-primary post-details-buttons-button" (tap)="postTravelodeMedia()"></Button>
            </FlexboxLayout>
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <Label class="post-details-travelode-label" text="Travelode: "></Label>
                <Label class="post-details-travelode-switch tertiary" text="{{travelodeTitle}}" (tap)="switchTravelode()"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
