<ActionBar class="action-bar">
    <Label text="travelode" class="font-weight-bold primary"></Label>
    <NavigationButton *ngIf="canGoBack" text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout orientation="vertical" *ngIf="travelodeMedia" class="container-loose">
    <Label text="Review post" class="post-review-heading tertiary text-center" textWrap="true"></Label>
    <Image class="post-review-media-holder" src="{{travelodeMedia.media.url}}"></Image>
    <GridLayout rows="auto, auto" columns="auto, auto">
        <Label text="{{travelodeMedia.title}}" class="post-review-title" row="0" col="0" colSpan="2"></Label>
        <Label text="{{travelodeMedia.caption}}" class="post-review-caption" row="1" col="0" colSpan="2" textWrap="true"></Label>

    </GridLayout>
    <FlexboxLayout orientation="horizontal" class="post-review-buttons" flexDirection="row" flexWrap="wrap" >
        <Button text="Edit" class="btn-primary post-review-buttons-edit" (tap)="edit()"></Button>
        <Button text="All Ok" class="btn-secondary post-review-buttons-ok" (tap)="ok()"></Button>
    </FlexboxLayout>
    <StackLayout orientation="horizontal" horizontalAlignment="center">
        <Label class="post-review-travelode-label" text="Travelode: "></Label>
        <Label class="post-review-travelode-switch tertiary" text="{{travelodeMedia.travelode.title}}" (tap)="switchTravelode()"></Label>
    </StackLayout>
</StackLayout>