.travelode-heading {
  font-size: 25;
  text-align: center;
}

.travelode-create-title {
  margin-top: 100;
}

.travelode-create-desc {
  margin-top: 40;
}

.travelode-create-button {
  margin-top: 80;
}
