.travelode-heading {
  font-size: 25;
  text-align: center;
}

.logo {
  margin-top: 50;
  width: 100;
  height: 100;
  margin-bottom: 50;
}

.travelode-para {
  font-size: 19;
  margin-bottom: 20;
}

.travelode-button {
  margin-top: 40;
}