<ActionBar class="action-bar">
    <Label text="travelode" class="font-weight-bold primary"></Label>
    <NavigationButton *ngIf="canGoBack" text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<ScrollView>
    <StackLayout orientation="vertical" class="container-tight" *ngIf="travelode">
        <Label text="Your travelode is ready for new posts" class="travelode-created-heading tertiary text-center" textWrap="true"></Label>
        <Label [text]=travelode.title class="travelode-created-travelode-heading"></Label>
        <Label [text]=travelode.description class="travelode-created-travelode-detail" textWrap="true"></Label>
        <Button text="Start posting" class="btn-secondary travelode-created-button" (tap)="startPosting()"></Button>
        <StackLayout orientation="horizontal" horizontalAlignment="center">
            <Label text="Change" class="travelode-created-change-travelode tertiary" (tap)="changeTravelode()"></Label>
            <Label text=" details of this travelode" class="travelode-created-change-travelode"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>