.travelode-created-heading {
  font-size: 25;
  text-align: center;
  margin-bottom: 60;
}

.travelode-created-travelode-heading {
  font-size: 20;
  font-weight: 700;
  margin-bottom: 20;
}

.travelode-created-travelode-detail {
  font-size: 19;
  height: 300;
}

.travelode-created-button {
  margin-bottom: 20;
}

.travelode-created-change-travelode {
  font-size: 16;
}