@import "../../../styles/colors.scss";

.travelode-list {

  &-heading {
    font-size: 25;
    text-align: center;
    margin-bottom: 20;
  }

  &-items {
    font-size: 15;
  }

  &-year {
    font-weight: 700;
    color: $secondary-color;
    margin-top: 5;
  }

  &-month {
    margin-top: 15;
    margin-left: 10;
    margin-bottom: 5;
    font-weight: 700;
    color: $primary-color
  }

  &-day {
    padding: 10;
    font-weight: 300;

    &-date {
      margin-left: 15;
      margin-right: 35;
    }

    &-title {
      color: $tertiary-color;
      text-decoration: underline;
    }
  }

  &-blank {
    padding: 20;
    font-size: 15;
    margin-top: 20;
    text-align: center;
  }

  &-create-button {
    margin-top: 60;
    padding: 20;
  }
}