<ActionBar class="action-bar">
    <Label text="travelode" class="font-weight-bold primary"></Label>
    <ActionItem
            (tap)="createNewTapped()"
            android.position="right"
            class="action-bar-item action-bar-item-menu-icon"
            ios.position="right"
    ></ActionItem>
</ActionBar>

<StackLayout orientation="vertical" class="container">
    <Label text="Your Travelodes" class="travelode-heading tertiary text-center"></Label>

    <ListView [items]="travelodeList" class="travelode-list">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout [class.odd]="odd" [class.even]="even" (tap)="itemTapped(item)">
                <Label [text]=item.title height="30" class="travelode-list-item"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

</StackLayout>