<ActionBar class="action-bar">
    <Label text="travelode" class="font-weight-bold primary"></Label>
    <NavigationButton *ngIf="canGoBack" text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <ActionItem
            (tap)="createNewTapped()"
            android.position="right"
            class="action-bar-item action-bar-item-menu-icon"
            ios.position="right"
    ></ActionItem>
</ActionBar>

<StackLayout orientation="vertical" class="container-tight">
    <Label text="Browse travelodes" class="travelode-list-heading tertiary text-center"></Label>

    <StackLayout *ngIf="travelodeList" class="travelode-list-items">
        <StackLayout *ngFor="let trY of travelodeList.travelodesByYear">
            <Label text="{{trY.year}}" class="travelode-list-year"></Label>

            <StackLayout *ngFor="let trM of trY.travelodesByMonth">
                <Label text="{{trM.monthName}}" class="travelode-list-month"></Label>

                <StackLayout *ngFor="let trD of trM.travelodesByDate">

                    <StackLayout *ngFor="let tr of trD.travelodes" orientation="horizontal" class="travelode-list-day">

                        <Label text="{{trD.day}}" class="travelode-list-day-date"></Label>
                        <Label text="{{tr.title}}" class="travelode-list-day-title" (tap)="itemTapped(tr)"></Label>

                    </StackLayout>

                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>

</StackLayout>